body {
    background: #FFE0B2;
    font-family: 'Coustard', serif;
    color: #63421b;
}

/* page display */

#page-wrapper {
    position: static;
    display: block;
    margin: 1.5%;
    margin-top: 2%;
}

#border {
/*    position: fixed; */
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
/*    padding: 20px; */
    width: 1820px;
    height: 980px;
/*    left: ; */
    border: 14px solid #D84315;
    border-radius: 20px;
    overflow: hidden;
}



/* room background */

#floor {
    position: relative;
    background-color: #FFD180;
/*    background-color: #fff8a0; */
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bb5300' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    height: 100%;
    width: 100%;
    top: 100%;
}

#wall {
  position: relative;
  height: 75%;
  width: 100%;
  background-color: #9bddc9;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230fa1a1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}


/* fridge body */

#fridge-box {
    position: absolute;
    background: transparent;
/*    border: solid; */
    height: 100%;
    width: 60%;
    left: -8.5%;
}


#fridge-back {
  position: absolute;
  background: #d7d7e2;
  height: 25px;
  width: 480px;
  left: 47.5%;
  top: 33%;
  z-index: 1;
}

#fridger {
  position: absolute;
  background: #f4f5f7;
  border-radius: 15px;
  height: 580px;
  width: 500px;
  bottom: 6%;
  left: 46.5%;
  z-index: 3;
}

#freezer {
  position: absolute;
  background: #f4f5f7;
  border-radius: 15px;
  height: 280px;
  width: 500px;
  left: 46.5%;
  top: 5%;
  z-index: 3;
}

#fridger-door {
  position: absolute;
  background: #f4f5f7;
  border-radius: 15px;
  height: 580px;
  width: 300px;
  bottom: 6%;
  left: 18%;
  z-index: 3;
}

#fridger-handle-outer {
  position: absolute;
  border-radius: 10px;
  background: #eaeaea;
  height: 160px;
  width: 40px;
  left: 16%;
  top: 36%;
  z-index: 1
  }

#fridger-handle-inner {
  position: absolute;
  border-radius: 10px;
  background: #d7d7e2;
  height: 140px;
  width: 15px;
  left: 17%;
  top: 37%;
  z-index: 2;
}

#fridger-hinge {
  position: absolute;
  background: #d7d7e2;
  height: 520px;
  width: 25px;
  left: 45%;
  bottom: 9%;
  z-index: 1;
}

#freezer-door {
  position: absolute;
  background: #f4f5f7;
  border-radius: 15px;
  height: 280px;
  width: 300px;
  top: 5%;
  left: 18%;
  z-index: 3;
}

#freezer-handle-outer {
  position: absolute;
  border-radius: 10px;
  background: #eaeaea;
  height: 160px;
  width: 40px;
  left: 16%;
  top: 16%;
  z-index: 1
  }

#freezer-handle-inner {
  position: absolute;
  border-radius: 10px;
  background: #d7d7e2;
  height: 140px;
  width: 15px;
  left: 17%;
  top: 17%;
  z-index: 2;
}

#freezer-hinge {
  position: absolute;
  background: #d7d7e2;
  height: 220px;
  width: 25px;
  top: 8%;
  left: 45%;
}

.freezer-inside-back {
  position: absolute;
  background: #ddd;
  border-radius:1%;
  height: 90%;
  width: 79%;
  left: 10.5%;
  top: -18%;
  z-index: -3;
}

.freezer-inside-left {
  position: absolute;
  background: #eaeaea;
  border-radius:2%;
  height: 105%;
  width: 10%;
  top: -18%;
  left: 1%;
  z-index: -3;
}

.freezer-inside-right {
  position: absolute;
  background: #eaeaea;
  border-radius:2%;
  height: 105%;
  width: 10%;
  top: -18%;
  left: 89%;
  z-index: -3;
}

.freezer-shelf {
  position: absolute;
    -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  background: #eee;
  z-index: -2;
  height: 30%;
  width: 98%;
  top: 57%;
}
.row-one-shelf {
  position: absolute;
  -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  background: #eee;
  z-index: -2;
  height: 12%;
  width: 94%;
  top: 15.2%;
}

.row-two-shelf {
  position: absolute;
  -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  background: #eee;
  z-index: -2;
  height: 12%;
  width: 94%;
  top: 49.5%;
}

.row-three-shelf {
  position: absolute;
  -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  background: #eee;
  z-index: -2;
  height: 12%;
  width: 98%;
  top: 83.5%;
}

.shelf-edge-one {
  position: absolute;
  background: #f4f5f7;
  height: 5%;
  width: 94%;
  top: 27%;
  z-index: -2
}

.shelf-edge-two {
  position: absolute;
  background: #f4f5f7;
  height: 5%;
  width: 94%;
  top: 61%;
  z-index: -2
}

.inside-fridge-back {
  position: absolute;
  background: #ddd;
  border-radius:1%;
  height: 90%;
  width: 79%;
  left: 10.5%;
  z-index: -3;
}

.inside-fridge-left {
  position: absolute;
  background: #eaeaea;
  border-radius:2%;
  height: 95.5%;
  width: 10%;
  left: 1%;
  z-index: -3;
}

.inside-fridge-right {
  position: absolute;
  background: #eaeaea;
  border-radius:2%;
  height: 95.5%;
  width: 10%;
  left: 89%;
  z-index: -3;
}



/* fridge contents */
.container {
    display: flex;
    flex-direction: column;
    width: 480px;
/*    border: solid #aaa; */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    border: solid blue; */
    }

.pic {
    height: 125px;
    width: 125px;
    /*border: solid 2px #ccc;*/
    border-radius: 5px;
}

.freezer-container {
    position: absolute;
    top: 25%;
    left: 1.4%;
}

.fridge-container {
    position: absolute;
    top: 6%;
    left: 1.5%;
}

.door-container {
    position: absolute;
    top: 5%;
    left: 30%;
}

.labels {
    display: flex;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 2px #63421b;
    border-radius: 5px;
    color: #63421b;
    font-weight: bold;
    font-size: 12pt;
    background: #fce7b3;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.left-eye {
    position: absolute;
    border-radius: 50%;
    background: #000;
    height: 20%;
    width: 20%;
    left: 0%;
    top: 30%;
}

.right-eye {
    position: absolute;
    border-radius: 50%;
    background: #000;
    height: 20%;
    width: 20%;
    right: 0%;
    top: 30%;
}

.happy-mouth {
    position: absolute;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    background: #000;
    height: 20%;
    width: 40%;
    bottom: 30%;
    left: 30%;
}

.sad-mouth {
    position: absolute;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: #000;
    height: 20%;
    width: 40%;
    bottom: 25%;
    left: 30%;
}


/* frozen */
.frozen-pic {
    position: relative;
}

.frozen-little-face {
    position: absolute;
    transform: rotate(30deg);
    height: 20%;
    width: 20%;
    top: 60%;
    left: 56.5%;
    z-index: 5;
}

.frozen-bag-body {
    position: absolute;
    background: #f4feff;
    height: 80%;
    width: 90%;
    top: 10%;
    left: 5%;
    overflow: hidden;
}

.frozen-bag-top {
    position: absolute;
    background: #f7f7f7;
    height: 10%;
    width: 100%;
    top: 5%;
    overflow: hidden;
}

.frozen-bag-zipper {
    position: absolute;
    border: dashed #e0e0e0 1px;
    height: 0%;
    width: 100%;
    top: 45%;
}

.chicken-leg{
    position: absolute;
    transform: rotate(30deg);
    height: 95%;
    width: 95%;
    top: -5%;
    left: 15%;

}

.bone {
    position: absolute;
    background: #fff5ef;
    height: 8%;
    width: 70%;
    top: 70%;
    left: 10%;
}

.bone-end1 {
    position: absolute;
    background: #fff5ef;
    height: 10%;
    width: 8%;
    border-radius: 50%;
    top: 65%;
    left: 5%;
}

.bone-end2 {
    position: absolute;
    background: #fff5ef;
    height: 10%;
    width: 8%;
    border-radius: 50%;
    top: 72%;
    left: 5%;
}

.chicken {
    position: absolute;
    background: #f9a463;
    border-radius: 50%;

    height: 40%;
    width: 60%;
    top: 55%;
    left: 40%;
}


/* heat-n-eat */
.heatneat-pic {
    position: relative;
}
.heatneat-box-top {
    position: absolute;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
    background: #eaeaea;
    height: 9%;
    width: 90%;
    top: 15%;
    left: 5%;
}

.heatneat-box-side {
    position: absolute;
-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
    transform: rotate(90deg);
    background: #eaeaea;
    height: 10%;
    width: 70%;
    top: 45.5%;
    left: -25%;
}

.heatneat-box-face {
    position: absolute;
    background: #f7f7f7;
    border: solid 1px #eaeaea;
    border-radius: 2px;
    height: 61%;
    width: 80%;
    top: 24%;
    left: 15%;
}

.heatneat-text {
    position: absolute;
    font-family: monospace;
    color: #ffccaf;
    font-size: 11pt;
    height: 1%;
    width: 1%;
    top: 2%;
    left: 3%;
}

.heatneat-tray-bottom {
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    background: #60bcdb;
    height: 10%;
    width: 80%;
    top: 85%;
    left: 15%;
}

.heatneat-tray-top {
    position: absolute;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
    background: #84e0ff;
    border-radius: 3px;
    height: 40%;
    width: 94%;
    top: 50%;
    left: 3%;
}

.foodlump1 {
    position: absolute;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: #ffd044;
    height: 20%;
    width: 25%;
    top: 42%;
    left: 15%;
}

.foodlump2 {
    position: absolute;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: #2f872f;
    height: 20%;
    width: 25%;
    top: 42%;
    left: 50%;
}

.meatlump-shadow {
    position: absolute;
    -webkit-clip-path: polygon(49% 34%, 59% 34%, 70% 31%, 79% 31%, 89% 35%, 92% 48%, 84% 59%, 69% 63%, 56% 66%, 45% 66%, 30% 67%, 16% 61%, 12% 46%, 10% 32%, 18% 26%, 28% 24%, 39% 31%);
clip-path: polygon(49% 34%, 59% 34%, 70% 31%, 79% 31%, 89% 35%, 92% 48%, 84% 59%, 69% 63%, 56% 66%, 45% 66%, 30% 67%, 16% 61%, 12% 46%, 10% 32%, 18% 26%, 28% 24%, 39% 31%);
    background: #fff1db;
    transform: rotate(175deg);
    height: 60%;
    width: 80%;
    top: 43%;
    left: 15%;
}

.meatlump-body {
    position: absolute;
    -webkit-clip-path: polygon(49% 34%, 59% 34%, 70% 31%, 79% 31%, 89% 35%, 92% 48%, 84% 59%, 69% 63%, 56% 66%, 45% 66%, 30% 67%, 16% 61%, 12% 46%, 10% 32%, 18% 26%, 28% 24%, 39% 31%);
clip-path: polygon(49% 34%, 59% 34%, 70% 31%, 79% 31%, 89% 35%, 92% 48%, 84% 59%, 69% 63%, 56% 66%, 45% 66%, 30% 67%, 16% 61%, 12% 46%, 10% 32%, 18% 26%, 28% 24%, 39% 31%);
    background: #993a03;
    transform: rotate(175deg);
    height: 50%;
    width: 78%;
    top: 43%;
    left: 15%;
}

.meatlump-highlight {
    position: absolute;
    background: #fff1db;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 15%;
    width: 15%;
    top: 59%;
    left: 62%;
}

.heatneat-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 38%;
    left: 41%;
    z-index: 5;
}


/* desserts */
.desserts-pic {
    position: relative;
}

.desserts-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 30%;
    left: 41%;
    z-index: 5;
}

.cone-bottom {
    position: absolute;
    background: #ffe599;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 25%;
    width: 25%;
    top: 70.25%;
    left: 37.5%;
}

.cone-body {
    position: absolute;
    background: #ffe599;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    height: 40%;
    width: 40%;
    top: 45%;
    left: 30%;
}

.cone-top-edge {
    position: absolute;
    background: #ffde7f;
/*    background: #000; */
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 44%;
    width: 44%;
    top: 30%;
    left: 28%;
}

.cone-rim {
    position: absolute;
    background: #ffd27f;
/*    background: #000; */
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 48%;
    width: 48%;
    top: 20%;
    left: 26%;
}

.ice-cream-bottom {
    position: absolute;
    background: #ffb7c4;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 40%;
    width: 40%;
    top: 20%;
    left: 30%;
}

.ice-cream-top {
    position: absolute;
    background: #ffb7c4;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    height: 28%;
    width: 40%;
    top: 12%;
    left: 30%;
}


/* meat */
.meat-pic {
    position: relative;
}


/* seafood */
.seafood-pic {
    position: relative;
}


/* dairy */
.dairy-pic {
    position: relative;
}

.dairy-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 58%;
    left: 59.5%;
    z-index: 5;
}

.cheese-side {
    position: absolute;
    background: #ffe820;
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
    height: 50%;
    width: 59.5%;
    top: 37.75%;
    left: 23.75%;
}

.cheese-top {
    position: absolute;
-webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
clip-path: polygon(30% 0, 0 100%, 100% 50%);
    transform: rotate(23deg);
    background: #ffd621;
    height: 20%;
    width: 61%;
    top: 31%;
    left: 25.25%;
}

.cheese-back {
    position: absolute;
    -webkit-clip-path: ellipse(10% 50% at 46% 50%);
    clip-path: ellipse(10% 50% at 46% 50%);
    background: #ffd621;
    height: 26%;
    width: 26%;
    transform: rotate(66deg);
    top: 20.5%;
    left: 23.75%;
}


/* veg */
.veg-pic {
    position: relative;
}

.broc-left-leg {
    position: absolute;
    clip-path: polygon(50% 0%, 80% 10%, 100% 30%, 100% 70%, 80% 90%, 50% 100%, 70% 80%, 80% 65%, 80% 35%, 70% 20%);
    border-radius: 50%;
    background: #41e05a;
    border-left: none;
    height: 55%;
    width: 50%;
    top: 40%;
    left: -2%;
    z-index: 1;
}

.broc-right-leg {
    position: absolute;
    clip-path: polygon(50% 0%, 80% 10%, 100% 30%, 100% 70%, 80% 90%, 50% 100%, 70% 80%, 80% 65%, 80% 35%, 70% 20%);
    transform: rotateY(180deg);
    border-radius: 50%;
    background: #42f45f;
    border-left: none;
    height: 55%;
    width: 50%;
    top: 40%;
    right: -2%;
    z-index: 1;
}

.broc-middle-leg {
    position: absolute;
    clip-path: polygon(50% 0%, 60% 20%, 60% 80%, 50% 100%, 40% 80%, 40% 20%);
    border-radius: 50%;
    background: #4fff6b;
    height: 70%;
    width: 44%;
    top: 30%;
    left: 28%;
    z-index: 2;
}

.broc-puff-back {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background: #185622;
    height: 40%;
    width: 40%;
    left: 30%;
    z-index: 4;
}

.broc-puff-left {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background: #1b6328;
    height: 32%;
    width: 32%;
    left: 11%;
    top: 9%;
    z-index: 3;
}

.broc-puff-right {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background: #1d662a ;
    height: 32%;
    width: 32%;
    right: 11%;
    top: 9%;
    z-index: 3;
}

.broc-puff-front-left {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background: #22722f;
    height: 33%;
    width: 33%;
    left: 22%;
    top: 18%;
    z-index: 4;
}

.broc-puff-front-right {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background: #279138;
    height: 33%;
    width: 33%;
    right: 22%;
    top: 18%;
    z-index: 4;
}

.broc-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 58%;
    left: 40%;
    z-index: 5;
}


/* fruit */
.fruit-pic {
    position: relative;
}


/* leftovers */
.leftovers-pic {
    position: relative;
}


/* alcohol */
.alcohol-pic {
    position: relative;
}

.alcohol-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 62%;
    left: 40%;
    z-index: 5;
}

.bottle-cork {
    position: absolute;
    background: #e2c47f;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    height: 20%;
    width: 8%;
    left: 46%;
    top: 2%;
}

.bottle-top {
    position: absolute;
    border-radius: 20% 20% 0 0;
    background: #044f36;
    height: 20%;
    width: 12%;
    left: 44%;
    top: 10%;
}

.bottle-curve {
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: #044f36;
    height: 40%;
    width: 36%;
    left: 32%;
    top: 25%;
}

.bottle-body {
    position: absolute;
    background: #044f36;
    height: 35%;
    width: 36%;
    top: 55%;
    left: 32%;
}

.bottle-bottom {
    position: absolute;
    background: #044f36;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 36%;
    width: 36%;
    left: 32%;
    top: 72%;
}

.wine-bottom {
    position: absolute;
    background: #630842;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 90%;
    width: 90%;
    left: 5%;
}

.wine-body {
    position: absolute;
    background: #630842;
    height: 130%;
    width: 90%;
    left: 6%;
    top: -34%;
    z-index: 3;
}

.wine-top {
    position: absolute;
    background: #4c0632;
    -webkit-clip-path: ellipse(50% 25% at 50% 50%);
    clip-path: ellipse(50% 25% at 50% 50%);
    height: 90%;
    width: 91%;
    left: 5%;
    top: -80%;
    z-index: 4;
}

.bottle-label-shadow {
    position: absolute;
    background: #cecece;
    border-radius: 10%;
    height: 55%;
    width: 80%;
    left: 10%;
    top: 15%;
    z-index: 5;
}

.bottle-label {
    position: absolute;
    background: #f7f7f7;
    border-radius: 10%;
    height: 84%;
    width: 90%;
    left: 5%;
    top: 7%;
}


/* non-edible */
.nonedible-pic {
    position: relative;
}

.nonedible-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 66%;
    left: 41%;
    z-index: 5;
}

.can-lid {
    position: absolute;
    background: #ccc;
     border-radius: 50%;
    border: 1.5px dotted #fff;
    transform: rotate(45deg);
    height: 35%;
    width: 20%;
    top: -2%;
    left: 70%;
    z-index: 3;
}

.can-top {
    position: absolute;
    background: #777;
    border-radius: 50%;
    border: solid 1.5px #aaa;
    height: 15%;
    width: 39%;
    top: 25%;
    left: 31%;
    z-index: 3;
}

.can-body {
    position: absolute;
    background: #991903;
    height: 50%;
    width: 38%;
    top: 33%;
    left: 32.5%;
}

.can-bottom {
    position: absolute;
    background: #991903;
    border: solid 1.5px #aaa;
    border-radius: 50%;
    width: 39%;
    height: 20%;
    top: 72%;
    left: 31%;
    z-index: -1;
}

.cat-label-top {
    position: absolute;
    background: #991903;
    border-radius: 50%;
    height: 30%;
    width: 100%;
    z-index: 2;
}

.cat-label {
    position: absolute;
    background: #c4f2df;
    height: 74%;
    width: 80%;
    top: 20%;
    left: 10%;
}

.cat-label-bottom {
    position: absolute;
    background: #c4f2df;
    border-radius: 50%;
    height: 35%;
    width: 100%;
    top: 82%;
    z-index: 4;
}

.little-cat-face {
    position: absolute;
    background: #e08b1d;
    -webkit-clip-path: ellipse(50% 40% at 50% 50%);
clip-path: ellipse(50% 35% at 50% 50%);
    height: 70%;
    width: 80%;
    top: 50%;
    left: 7.75%;
    z-index: 5;
    }

.little-cat-ear1 {
    position: absolute;
    background: #e08b1d;
    -webkit-clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
    clip-path: polygon(45% 0, 52% 0, 100% 100%, 0% 100%);
    border-radius: 50%;
    transform: rotate(-25deg);
    height: 30%;
    width: 50%;
    top: 45%;
}

.little-cat-ear2 {
    position: absolute;
    background: #e08b1d;
    -webkit-clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
    clip-path: polygon(48% 0, 55% 0, 100% 100%, 0% 100%);
    border-radius: 50%;
    transform: rotate(25deg);
    height: 30%;
    width: 50%;
    top: 45%;
    left: 45%;
}

.can-text {
    position: absolute;
    font-family: monospace;
    color: #17809b;
    font-size: 11pt;
    height: 1%;
    width: 1%;
    top: 12%;
    left: 15%;
}


/* other */
.other-pic {
    position: relative;
}


/* condiments */
.condiments-pic {
    position: relative;
}


/* sauces */
.sauces-pic {
    position: relative;
}


/* beverages */
.beverages-pic {
    position: relative;
}


.beverages-little-face {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 57.75%;
    left: 39.5%;
    z-index: 5;
}

.oj-bottle {
    position: absolute;
    background: #ffe435;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    border-radius: 12%;
    height: 60%;
    width: 50%;
    top: 30%;
    left: 25%;
}

.oj-bottle-top {
    position: absolute;
    background: #ffe435;
    height: 20%;
    width: 16%;
    top: 10%;
    left: 42%;
}

.oj-bottle-curve {
    position: absolute;
    background: #ffe435;
/*    background: green; */
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-radius: 10%;
    height: 10%;
    width: 26%;
    top: 25%;
    left: 37%;
}

.oj-cap {
    position: absolute;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    border-radius: 20%;
    background: #ff9634;
    transform: rotate(180deg);
    height: 10%;
    width: 22.5%;
    top: 5%;
    left: 39%;
    z-index: 3;
}

.oj-label {
    position: absolute;
    background: #fcfcfc;
    border: solid 2px #086315;
    border-radius: 5%;
    height: 70%;
    width: 65%;
    top: 12%;
    left: 14%;
}

.oj-label-orange {
    position: absolute;
    background: #ff9634;
    border-radius: 50%;
    height: 60%;
    width: 80%;
    top: 35%;
    left: 8%;

}

.oj-label-leaf {
    position: absolute;
    -webkit-clip-path: polygon(30% 0, 50% 15%, 80% 65%, 70% 100%, 35% 80%, 25% 25%);
clip-path: polygon(30% 0, 50% 15%, 80% 65%, 70% 100%, 35% 80%, 25% 25%);
    transform: rotate(100deg);
    background: #139625;
    border-radius: 50%;
    height: 35%;
    width: 55%;
    top: 18%;
    left: 38%;
    z-index: 3;
}

.oj-label-stem {
    position: absolute;
    background: #086315;
    border-radius: 30%;
    transform: rotate(15deg);
    height: 30%;
    width: 8%;
    top: 12%;
    left: 48%;
}

/* end fridge */



/* notice board */

#notice-board {
  position: absolute;
/*   border: solid 2px red; */
/*   background: yellow; */
  height: 30%;
  width: 23%;
  z-index: 7;
  top: 10%;
  left: 49%;
}

#board-border {
  border: 12px inset #ff7700;
  border-bottom-color: #d86500;
  border-right-color: #d86500;
  background: #e27e48;
  height: 96%;
  width: 96%;
}

#board-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fridge-list {
  width: 30%;
  height: 100%;
}

#fridge-list-label {
  position: relative;
  background: #3aa8a2;
  border-radius: 5px;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 5%;
}

#fridge-list-body {
  position: relative;
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
}

.tossed-list {
  width: 30%;
  height: 100%;
}

#tossed-list-label {
  position: relative;
  background: #d69c46;
  border-radius: 5px;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 5%;
}

#tossed-list-body {
  position: relative;
/*   border: solid 2px orange; */
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
}

.shopping-list {
  width: 30%;
  height: 100%;
  }

#shopping-list-label {
  position: relative;
  background: #d80202;
  border-radius: 5px;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 5%;
}

#shopping-list-body {
  position: relative;
/*   border: solid 2px maroon; */
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
}

.list-label {
  display: flex;
  flex-direction: column;
}

.label-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  color: #fff;
  font-size: 13pt;
}

.list-pic {
  position: absolute;
  background: #fff;
  border: solid 2px #aaa;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

.list-pic-text {
  
  color: #aaa;
  padding: 10px;
}

/* end notice board */



/* shopping bag / add item */
.bag {
  position: absolute;
  height: 44%;
  width: 23%;
  top: 48%;
  left: 49%;
}

.bag-back {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background: #b7750b;
  height: 60%;
  width: 44%;
  left: 31.75%;
  top: 20.25%;
  z-index: 1;
}

.bag-front {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background: #d68b13;
  height: 60%;
  width: 44%;
  left: 20%;
  top: 30%;
  z-index: 2;
}

.bag-side {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  transform: rotate(90deg);
  background: #bf7909;
  height: 11.5%;
  width: 66%;
  top: 52.5%;
  left: 36.75%;
    z-index: 2;
}

.bag-inside {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  transform: rotate(90deg);
  background: #bf7909;
  height: 11.5%;
  width: 66%;
  top: 46.5%;
  left: -6.75%;
  z-index: 1;
}

.bag-arrow {
  position: absolute;
  -webkit-clip-path: polygon(50% 0, 50% 25%, 100% 25%, 100% 75%, 50% 75%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0, 50% 25%, 100% 25%, 100% 75%, 50% 75%, 50% 100%, 0% 50%);
  transform: rotate(90deg) skew(-10deg);
  background: #D84315;
  height: 35%;
  width: 55%;
  top: 20%;
  left: 22%;
  z-index: 4;
}

.bag-text {
  position: absolute;
  transform: rotate(9deg);
  
  font-size: 15pt;
  color: #D84315;
  height: 1%;
  width: 1%;
  top: 60%;
  left: 34%;
  z-index: 4;

}


/* The Modal (background) */
.modal {
     display: none;
     position: absolute;
     z-index: 10;
     left: 1%;
     top: 5%;
     width: 43.5%;
     height: 85%;
     background: #FFE0B2;
     border: 14px solid #D84315;
     border-radius: 20px;
     overflow: hidden;
    padding: 10px;
}

.small-modal-header {
    height: 5%;
    width: 78%;
    margin: 5% 5% 0 5%;
    padding: 0 20px 10px 20px;
    border-radius: 8px;
    background: #fff3c5;
    border: 5px solid #D84315;
}

.small-modal-content {
    height: 86%;
    overflow: auto; /* Enable scroll if needed */
    margin: -1% 5% 5% 5%; /* 15% from the top and centered */
    padding: 20px;
    width: 82%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    background: #fff3c5;
    border: 5px solid #D84315;
}

.large-modal-header {
    height: 5%;
    width: 91%;
    margin: 1.5% 1.5% 0 1.5%;
    padding: 0 20px 10px 20px;
    border-radius: 8px;
    background: #fff3c5;
    border: 5px solid #D84315;
}

.large-modal-content {
    height: 89.25%;
    overflow: auto; /* Enable scroll if needed */
    margin: -.5% 1.5% 2% 1.5%;
    width: 96%;
    border-radius: 8px;
    background: #fff3c5;
    border: 5px solid #D84315;
}


.fridge-list-modal {
     display: none; /* Hidden by default */
     position: absolute; /* Stay in place */
     z-index: 10; /* Sit on top */
     left: 49%;
     top: 5%;
     width: 22%; /* Full width */
     height: 86.25%; /* Full height */
     background: #FFE0B2;
     border: 14px solid #D84315;
     border-radius: 20px;
     overflow: hidden;
}

.tossed-list-modal {
     display: none; /* Hidden by default */
     position: absolute; /* Stay in place */
     z-index: 10; /* Sit on top */
     left: 49%;
     top: 5%;
     width: 22%; /* Full width */
     height: 86.25%; /* Full height */
     background: #FFE0B2;
     border: 14px solid #D84315;
     border-radius: 20px;
     overflow: hidden;
}

.shopping-list-modal {
     /*display: none; !* Hidden by default *!*/
     position: absolute; /* Stay in place */
     z-index: 10; /* Sit on top */
     left: 74.5%;
     top: 5%;
     width: 22%; /* Full width */
     height: 86.25%; /* Full height */
     background: #FFE0B2;
     border: 14px solid #D84315;
     border-radius: 20px;
     overflow: hidden;
}

.add-modal-content {
     background: #9bddc9;
     height: 82%;
     overflow: auto; /* Enable scroll if needed */
     margin: 5% auto; /* 15% from the top and centered */
     padding: 20px;
     width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
}

.add-item-modal {
     display: none; /* Hidden by default */
     position: absolute; /* Stay in place */
     z-index: 10; /* Sit on top */
     left: 49%;
     top: 45%;
     width: 22%; /* Full width */
     height: 46%; /* Full height */
     background: #FFE0B2;
     border: 14px solid #D84315;
     border-radius: 20px;
     overflow: hidden;
}

/* The Close Button */
.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}

.close:hover,
.close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}

.item-detail {
    padding: 1% 3% 1% 3%;
    display: block;
}


.item-detail-titles {
    font-weight: bold;
}

.item-detail-values {

}

.category-title {
    font-weight: bold;
}

form, table {
     display:inline;
     margin:0;
     padding:0;
}

/*li {*/
    /*list-style-type: none;*/
/*}*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #D84315;
    margin: 1em 0;
    padding: 0;
}

h3 {
    text-decoration: underline;
}

.right-align {
    text-align: right
}

.left-align {
    text-align: left;
}

.btn {
    /*color:transparent;*/
    /*text-shadow:none;*/
    border:none;
    box-shadow:none;
    font-family: "Coustard", serif;
    color: #fff;
    float: right;
    font-size: 14pt;
    border-radius: 5px;
}

.used, .tossed {
    color: #fff;
    float: right;
    font-size: 14pt;
    font-family: "Coustard", serif;
    border-radius: 5px;
}

.used {
    background: #3aa8a2;
}

.tossed {
    background: #d69c46;
}

.shop-delete, .shop-add {
    background: #D84315;
}

.button-form {
    display: inline;
}